TAROZI_PORT=COM7
TAROZI_BAUD=9600
SERVER_URL=https://api.smart-tarozi.uz
TAROZI_AGENT_KEY=REPLACE_ME_SAME_AS_backend_.env
YUBORISH_INTERVAL_SONIYA=0.5
TELEGRAM_TOKEN=REPLACE_ME_SAME_AS_backend_.env
TELEGRAM_CHAT_ID=REPLACE_ME_SAME_AS_backend_.env
TELEGRAM_ALERT_CHEGARA_SONIYA=180
